MANIFEST

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
.hypothesis/
cover/

# Translations
*.mo

# Environments
.env
.env.prod
.env.staging
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### react ###
.DS_*
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

node_modules
npm-debug.log
.next
.git

psd
thumb
sketch
.idea
conf/nginx/conf.d
conf/nginx/default.conf